* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}
/* 
.card {
  background-color: white;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.image img {
  width: 150px;
  height: auto;
  border-radius: 8px;
}

.content {
  flex: 1;
}

.content h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.content p {
  
} */

.card {
  background-color: #f4f4f4;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.image img {
  width: 150px;
  height: auto;
  border-radius: 15px;
}

.content {
  flex: 10;
}

.content h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.content p {
  color: #555;
  margin-bottom: 15px;
  line-height: 1.6;
}

.btn {
  padding: 10px;
  border-radius: 10px;
  background-color: blue;
  color: #fff;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
